# secrets
.env
.env.*
*.pem
*.key
*.p12
*.pfx

# node / build
**/node_modules/
**/dist/
**/.vite/
**/.cache/

# local runtime data (НЕ пушим)
.local-data/
app/.local-data/

# OS/editor
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
